* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.image img {
    /* border: 5px solid green; */
    height: 400px;
    object-fit: contain;
}

.information {
    width: 50%;
    padding: 20px;
    border: 2px solid black;
    margin: 20px;
}